*{
 margin: 0px;
 padding: 0px;
}

/* Hero Section Design */

#hero{
 display: flex;
 justify-content: center;
 align-items: center;
 height: 600px;
 background-image:linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url("/images/Banner\ Image.png");
 background-size: contain;
 background-repeat: no-repeat;
 border-radius: 16px;
 margin-top: 50px;
}

.header-container{
  width: 632px;
  height: 246px;
  text-align: center;
  
}

.header-container h3{
 color: rgb(255, 255, 255);
  font-family: "Merriweather";
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
}

.header-container h1{
 color: rgb(255, 255, 255);
  font-family: "Merriweather";
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  letter-spacing: 0%;
  text-align: center;
}


 /* 
 --Common Section Layout--
.............................
*/

.common-section1{
width: 1320px;
border: 2px solid red;
margin: 0px auto 120px;
}

.flex-row{
 display: flex;
 justify-content: center;
 align-items: center;
}
.flex-column{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

/* Holiday Deals Section */

#holiday-deals{
 height: 806px;
}

#holiday-deals h1{
 color: rgb(255, 0, 0);
  font-family: "Inter";
  font-size: 88px;
  font-weight: 700;
  line-height: 107px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 48px;
}

#holiday-deals p{
color: rgb(255, 0, 0);
 font-family: "Inter";
 font-size: 24px;
 font-weight: 500;
 line-height: 29px;
 letter-spacing: 0%;
 text-align: center;
 margin-bottom: 16px;
}

#holiday-deals h2{
 color: rgb(7, 2, 17);
  font-family: "Inter";
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0%;
  text-align: center;
}

.delas-text-container{
 margin-bottom: 48px;
}

/*  Midnight Party Section Design */


#midnight-party{
 height: 600px;
 display: flex;
 align-items: center;
justify-content: center;
gap: 40px;
}

.party-text-container{
width: 697px;
}

.party-text-container h1{
 color: rgb(255, 255, 255);
  font-family: "Merriweather";
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 11%;
  text-align: left;
  margin-bottom: 24px;
}
.party-text-container p {
 color: rgba(255, 255, 255, 0.8);
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 48px;
}
.party-text-container a{
 color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}



.section-bg1{
 background-image:linear-gradient(90.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url("/images/Vectorrr.png");
 background-repeat: no-repeat;
 background-size: cover;
 border-radius: 16px;
 
 
}
/* Event Details Section */

#event-details{
 height: 482px;
 border-radius: 16px;
  background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
}
#event-details h3{
  font-family: "Inter";
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
}
#event-details h3 span{
 color: rgb(255, 0, 0);
}

#event-details button{
  color: rgb(255, 255, 255);
  font-family: "Inter";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  border: none;
  background-color: rgb(255, 0, 0);
}
#event-details .btn-span{
  width: 167px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
 border-radius: 8px;
 background-color: rgb(255, 0, 0);
margin-top: 48px;
}

/* Coming Soon Section */

#coming-soon{
height: 463px;
display: flex;
justify-content: space-between;
align-items: center;
}

.column1 h3{
  color: rgb(255, 0, 0);
    font-family: "Inter";
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}
.column1 h2{
  color: rgb(7, 2, 17);
    font-family: "Merriweather";
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}
.column1 p{
  color: rgba(7, 2, 17, 0.6);
    font-family: "Inter";
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}
.column1{
  width: 393px;
  margin: 104px 70px 104px 0px;
}
.column2 h2{
  color: rgb(255, 0, 0);
    font-family: "Inter";
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: left;
}
.column2 p{
  color: rgba(7, 2, 17, 0.6);
    font-family: "Inter";
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}
.column2{
  width: 276px;
}
.column3 {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 15px solid rgb(255, 0, 0);
  border-radius: 210px;
  padding: 20px;
  margin-right: 110px;
 
}
#functional-holiday-sale h2{
    color: rgb(7, 2, 17);
    font-family: "Inter";
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
}
#functional-holiday-sale h1{
  font-family: "Merriweather";
    font-size: 72px;
    font-weight: 900;
    line-height: 91px;
    letter-spacing: 0%;
    text-align: center;
}
#functional-holiday-sale p{
color: rgba(7, 2, 17, 0.6);
  font-family: "Inter";
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
}
.text-div{
    width: 1068px;
    height: 260px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.img-div{
    width: 1320px;
    height: 662.07px;
    background-image: url("/images/Rectangle 2.png");
    background-repeat: no-repeat;
    background-position: bottom; 
}
.img1{
  background-image: url("/images/Group 75.png");
    width: 674.82px;
    height: 577.96px;
}
#awesome-portfolio h3{
  color: rgb(255, 0, 0);
  font-family: "Inter";
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 16px;
}
.header1{
  color: rgb(7, 2, 17);
    font-family: "Merriweather";
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 22px;
}
.paragraph1{
  color: rgba(7, 2, 17, 0.6);
    font-family: "Inter";
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}
.text-container{
  width: 896px;
  margin-bottom: 48px;
}
.div-container .img-container{
    width: 424px;
    height: 450px;
    border-radius: 16px;
}
.div-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}
.portfolio-bg1{
  background-image: url("/images/Rectangle 3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.portfolio-bg2{
  background-image: url("/images/Rectangle 4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.portfolio-bg3{
  background-image: url("/images/Rectangle 5.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.portfolio-bg4{
  background-image: url("/images/Rectangle 6.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.portfolio-bg5{
  background-image: url("/images/Rectangle 7.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.portfolio-bg6{
  background-image: url("/images/Rectangle 8.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#news-letter{
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  height: 616px;
}
.news-letter-text{
  display: flex;
  flex-direction: column;
}
.news-letter-text img{
  position: absolute;
}